html, body {
  width: 100%; 
  height: 100%;
  font-family: Arial;
}

#map {
  width: 100%; 
  height: 100%;
}

#modal {
  width: 353px;
  height: 351px;
  background: white;
  border-radius: 5px;
  position: absolute;
  z-index: 100;
  top: 100px;
  left: 100px;
  display: none;
}

.form {
  margin: 29px 26px 0 17px;
}

.form__title {
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
}

.form__input {
  width: 310px;
  height: 38px;
  border: 1px solid #1371C8;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 10px;
  font-family: Arial;
  font-size: 14px;
  color: #000000;
  padding: 11px 0 11px 11px;
}

.form__input::placeholder {
  color: #000000;
}

.form__textarea {
  width: 310px;
  height: 98px;
  border: 1px solid #CFCFCF;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  color: #000000;
  padding: 7px 0 11px 11px;
  margin-bottom: 19px;
}

.form__textarea::placeholder {
  color: #000000;
}

.form__button {
  width: 107px;
  height: 38px;
  background: #FF8663;
  border-radius: 3px;
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  outline: none; 
  border: none; 
}

.modal__close {
  position: relative;
}

.modal__close-img {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.modal__item-name {
  font-size: 16px;
  color: #000000;
  margin-right: 10px;
  margin-bottom: 4px;
}

.modal__item-place {
  color: #8F8F8F;
}

.modal__item-review {
  color: #8F8F8F;
}

.review__item {
  margin-bottom: 20px;
}

.modal__list {
  position: relative;
}

.reviews__list {
  padding: 40px 0 0 17px;
}

.reviews__list::before {
  content: "";
  height: 1px;
  position: absolute;
  width: 310px;
  background: #E7E7E7;
  bottom: -16px;
}